<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="string"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             empty item, i.e., , , is not considered as an item towards to the count.
         </div>
         <div class="form-group" ng-click="checkIfTooMuch();">
             <button class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{displayMsg}}
         </div>
   </div>
  <script src="script/angular.min.js"></script>
  <script src="script/app.js"></script>
</body>
</html>
